.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
*.iml
*.ipr
*.iws
.idea/
NYUBusTracker/src/main/AndroidManifest.xml
NYUBusTracker/src/main/res/values/analytics.xml
NYUBusTracker/src/debug/res/values/analytics.xml